@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* header style */
@import url("./header.css");


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

:root{
    --text-color-white: #fff; 
    --text-color-black: #000; 
    --btn-color: #5489BA;
    --bg-color: #0C0E17;

    --color-blur-bg: rgba(255, 255, 255, 0.1);
    --blur: blur(0.625em);

    --container-width-lg: 86%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
}

body{
    font-family: 'Space Mono', monospace;
    line-height: 1.5;
    overflow-x: hidden;
}

.title{
    text-transform: uppercase;
    font-size: 5.625rem;
}

.sub-title{
    font-size: 1.24rem;
}

@media (max-width: 45em) {
    .title{
        font-size: 3.5rem;
        line-height: 1;
     }
 
    .sub-title{
        font-size: 1rem;
        line-height: 1.2;
    }
}

/* CTA */

.cta{
    display: block;
    background: transparent;
    box-shadow: 0px 0px 50px 2px rgba(255, 255, 255, 0.053);
    border-radius: 5px;
    border: 2px solid var(--btn-color);
    text-transform: uppercase;
    font-weight: 700;
    padding: .3rem 1.5rem;
    color: var(--btn-color);
}  